/*FONTS*/
@font-face {
    font-family: 'sinthyaregular';
    src: url('../fonts/sinthya-webfont.woff2') format('woff2'),
         url('../fonts/sinthya-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'yessicaregular';
    src: url('../fonts/yessica-regular-webfont.woff2') format('woff2'),
         url('../fonts/yessica-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

 @font-face {
    font-family: 'Pragmatica ExtraLight Reg';
    font-style: normal;
    font-weight: normal;
    src: local('Pragmatica ExtraLight Reg'), url('../fonts/Pragmatica-ExtraLight.woff') format('woff');
    }

    @font-face {
    font-family: 'freesansbold';
    src: url('../fonts/freesansbold-webfont.woff2') format('woff2'),
         url('../fonts/freesansbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

    /*NAVIGATION BAR*/
.navigation-container {
    display: flex;
    justify-content: center;
}

.navbar {
    top: 0;
    right: 0;
    left: 0;
}

#navbar1 {
   float: none;
   text-align: center;
   justify-content: center;
   display: block;
   margin: 0 auto;
}

.nav-link {
    color: white;
    font-family: 'sinthyaregular';
    padding-top: 15px;
    font-size: 20px;
    letter-spacing: 2px;
}

ul.nav a:hover { 
    color: #026171  !important; 
}

#initiallogo {
    font-family: 'yessicaregular';
    font-size: 40px;
    color: #B40202;
    padding-left: 30px;
    padding-right: 26px;
    padding-top: 0px;
}

/*HOMEPAGE HEADINGS*/

.title-container {
     display: flex;
  text-align: center;
  align-items: center; 
  padding-top: 20px;
  padding-bottom: 20px; 
  justify-content: center;
}

#harriet {
    font-family: 'yessicaregular' ;
    font-size: 150px;
    color: #B40202 ;
 text-shadow: 15px 10px 10px darkslategrey; 
 padding-top: 80px;
}

#frontdeveloper {
    font-family: 'sinthyaregular';
  font-size: 60px;
  margin: 0;
  color: #343434;
}

#darley {
font-family: 'yessicaregular' ;
    font-size: 150px;
    color: #B40202 ;
     text-shadow: 15px 10px 10px darkslategrey; 
}
    

/*HOMEPAGE BACKGROUND*/

header {
    background-image: url("../images/background.abstract.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
    max-width: 100%;
}

/*ABOUTUS*/

.about-us-container {
    background-color: #EDEDED;
}

.about-us-box {
    background-color: #EDEDED;
}

.ml2 {
    font-family: 'yessicaregular';
    font-size: 100px;
    color: #343434 ;
    padding: 50px 30px 0px 30px;
}

.ml2 .letter {
  display: inline-block;
  line-height: 1em;
}

.description-container {
margin: 0 30px;
padding: 0;
}

#computertextdiv {
    background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url("../images/57computer.jpg") no-repeat center / cover;
    padding: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered {
  color:#B40202;
  font-family: 'freesansbold';
  font-size: 65px;
}

#hellopara {
    text-align: center;
    color: white;
    font-family: 'Pragmatica ExtraLight Reg';
    font-size: 20px;
    margin-bottom: 0;
}

#hellodiv{
    background-color: #026171;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 40px;
}

#arrowimage {
    height: 50px;
    width: 100px;
    top: 40%;
    left: -55px;
    position: absolute;
}

/*SKILLS*/

.skills-container {
    margin: 0 30px;
}

#skillsdiv {
    max-width: 100%;
    height: 300px;
    background-color: #BFC9CB;
    padding: 0;
}

#skillsheading {
    color: #B40202;
    font-size: 40px;
    text-align: center;
    font-family: 'freesansbold';
    text-decoration: underline; 
    text-underline-position: under;
    text-decoration-color: white;
    padding-top: 50px;
}

/*ICONS*/

#skillsicons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#html-icon {
    padding-top: 13px;
}

.icon-circle {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 100%;
}


#css-icon {
    padding-top: 13px;
}


#java-icon {
    padding-top: 13px;
    border-radius: 100%;
}


#boot-icon {
    padding-top: 13px;
}


.icons {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    margin: 0 15px;
}

.iconcaption {
    font-family: 'Pragmatica ExtraLight Reg' ;
    color: #707070 ;
    font-size: 18px;
}

/*EXPERIENCE*/
.row {
    --bs-gutter-x: 0;
}

.experience-container {
    background-color: #EDEDED;
}

.details-container {
    background-color: #EDEDED;
    margin: 0 30px;
    width: unset;
}

#employmenttitlerow {
    margin-bottom: 10px;
}

#employmentdiv {
   text-align: center;
    background-color: #026171;
    border: thick solid #B40202;
    height: 100px;
}

#employmenttext {
    font-family: 'freesansbold';
color: white;
line-height: 100px;
font-size: 30px;
}

#employment1row { 
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
} 

#workexperiencetitlerow {
    margin-bottom: 10px;
}

#experience1row {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
}

#experiencetext {
    font-family: 'freesansbold';
color: white;
font-size: 30px;
line-height: 100px;
}

/*BOTH EXPERIENCE & EDUCATION*/

.primarydescription {
    background-color: #BFC9CB;  
    text-align: center;
}

.date {
    font-family: 'Pragmatica ExtraLight Reg' ;
    font-size: 17px;
    color: #707070;
    padding-top: 50px;
}

.title {
    font-family: 'Pragmatica ExtraLight Reg' ;
    font-size: 20px;
    color: #707070;
}

.paragraph {
    font-family: 'Pragmatica ExtraLight Reg' ;
    font-size: 15px;
    color: #707070;
}


/*EDUCATION*/

.education-container {
    background-color: #EDEDED;
}

#educationtitlerow {
margin-bottom: 10px;
}


#coursesdiv {
    text-align: center;
    background-color: #026171;
    border: thick solid #B40202;
    height: 100px;
}

#education1row {
      margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}

#education2row {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
}

#examstitlerow {
    margin-bottom: 10px;
}

#examinationsdiv {
    text-align: center;
    background-color: #026171;
    border: thick solid #B40202;
    height: 100px;
}

#courses{
    font-family: 'freesansbold';
color: white;
line-height: 100px;
font-size: 30px;
}

#examinations {
    font-family: 'freesansbold';
color: white;
line-height: 100px;
font-size: 30px;
}


/*FORMS*/
.contact-container {
   background-color: #EDEDED;
}

.form-container {
    margin: 0 30px;
padding: 0;
}

#forminformation {
    background-color: #026171;
   padding: 0; 
   text-align: center;
}

#message {
    color: white;
    font-size: 20px;
    font-family: 'freesansbold' ;
    margin-top: 30px;
}

.form-floating {
    margin: 50px;
}

.label-text {
    font-family:'Pragmatica ExtraLight Reg' ;
    color: #343434;
}

#floatingTextarea2 {
   background: transparent;
  border: none;
  border-bottom: 1px solid white;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;  
  color: white;
}

#button {
 background-color: #B40202;
 border: 0;
 font-family: 'Pragmatica ExtraLight Reg';
 width: 100px;
height: 40px;
margin-bottom: 50px;
box-shadow: 0 1px 1px rgba(0,0,0,0.08), 
                0 2px 2px rgba(0,0,0,0.12), 
                0 4px 4px rgba(0,0,0,0.16), 
                0 8px 8px rgba(0,0,0,0.20);
}


/*INFORMATION*/

#harrietdetails {
    padding: 0;
    background-color: #BFC9CB;
}

.infotext {
    color: #B40202;
    font-family: 'freesansbold';
    margin-top: 50px;
    font-size: 20px;
    text-align: center;
}

#arrowimage2 {
    height: 50px;
    width: 100px;
    position: absolute;
    left: 2px;
}

/*ICONS*/

#media {
    text-align: center;
}

.fa-linkedin {
color: #026171;
font-size: 75px;
padding-top: 125px;
}

.fa-linkedin:hover {
    color: #B40202; }

.fa-github-square {
    color: #026171;
font-size: 75px;
}

.fa-github-square:hover {
    color: #B40202;
}

.fa-twitter-square {
    color: #026171;
font-size: 75px;
}

.fa-twitter-square:hover {
color: #B40202;}

.footer {
    text-align: center;
    background-color: #707070;
    margin: 0 30px;
}

#footertext {
    font-family: 'Pragmatica ExtraLight Reg';
    color: white;
}

#footercontainer {
   background-color: #EDEDED; 
   margin-bottom: 0;
}

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
.nav-link {
    font-size: 15px;
    letter-spacing: 0;
}

    #harriet {
    font-size: 80px;
}

#frontdeveloper {
  font-size: 30px;
}

#darley {
    font-size: 80px; 
}

.ml2 {
    font-size: 50px;
    padding: 0;
}

  .description-container,
  .skills-container {
    margin: 0;
  }

  #computertextdiv,
  #hellodiv {
    height: 300px;
  }

  #skillsdiv {
      height: 350px;
  }

  #arrowimage {
    display: none;
  }

  .container-fluid {
    padding: 0;
  }

  .details-container {
      margin: 0;
  }

  .infotext {
      font-size: 15px;
  }

  #employment1row,
  #experience1row,
  #education1row,
  #education2row
 {
      grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 406px) {
 #initiallogo {
    padding-left: 0px;
    padding-right: 0px;
}   
.nav-link {
    font-size: 10px;
}
}

@media screen and (max-height: 586px) and (min-width: 771px) {
#harriet {
    padding: 0;
    font-size: 100px;
}

#darley {
    font-size: 100px;
}
}